* {
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0px;
    font-family: sans-serif, "poppins";
}

/* navbar */
header {
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding: 1px;
}

.name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav_links {
    display: flex;
    gap: 30px;
}

/* home page */
.home {
    height: 100vh;
    font-weight: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c27;
    color: white;
}

.intro {
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.h3Container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hColor {
    color: red;
}

.para {
    color: rgb(187, 185, 185);
}

.checkResume {
    background-color: rgb(6, 163, 242);
    color: white;
    border: 2px solid inset;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 17px 10px 17px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.checkResume:hover {
    background-color: rgb(2, 114, 170);
}

.imgContainer {
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.img {
    height: 200px;
    border: 2px solid #0072ff;
    border-radius: 100%;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 0px 24px 10px;

}

/* about page */
.about {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1c1c27;
    color: white;
}

.about1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.about1 .checkResume {
    align-self: flex-start;
}

.h1About {
    border-bottom: 2px solid red;
    padding-bottom: 1px;
}

.p2About {
    text-align: start;
    font-weight: bold;
    color: rgb(187, 185, 185);
}

.datacontainer {
    align-self: flex-start;
    display: flex;
    gap: 10px;
    padding: 0 10px;
}

.about-link-img {
    width: 38px;
}

/* Educations page */
.education {
    height: 100vh;
    width: 100vw;
    background-color: #1c1c27;
    color: white;
}

.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.dataContainer {
    border: 2px solid blueviolet;
    border-radius: 15px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 0px 24px 10px;
    background-color: black;
    width: 60%;
    text-align: center;
    padding: 15px;
}

/* =================== skills page =============================== */
.skills {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.div_skills {
    width: 100%;
}

.div_btn {
    display: flex;
    gap: 3px;
}

.skills_btn {
    padding: 10px;
    font-size: medium;
    display: flex;
}


.skills-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    height: fit-content;
}


.frontend-page-container,
.langauge-page-container,
.others-page-container {
    border: 2px solid blueviolet;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: white;


}
.div_scd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px 10px 0px;
}

.div_skills_data{
    border:1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding:7px 10px 7px 10px ;
    gap: 15px;
}
.img-skills-tag{
    height: 30px;
}